# Core packages
numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
imblearn

# NLP packages
nltk
Sastrawi
wordcloud

# Deep Learning
tensorflow
torch
keras

# Transformers and BERT
transformers

# Google Play Store Scraper
google-play-scraper

# Jupyter & utilities
ipython
